@section Styles {
    <link href="@Url.Content("~/css/watch-list.css")" rel="stylesheet" />
}

<main id="main" class="px-3">
    <section class="watchlist flex flex-col">
        <h1 class="watchlist-title text-center my-5 text-4xl uppercase font-semibold">Watchlist</h1>
        <!--
                    <div class="watchlist-item flex gap-5">
                        <img src="/assets/images/azerbaijan.svg" class="poster" alt="">
                        <div class="flex flex-col">
                            <h1 class="watchlist-item-name text-3xl font-semibold"></h1>
                            <p class="watchlist-item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat,
                                error. Rem, dolor corrupti in
                                repellendus perferendis maiores voluptate asperiores cumque quis et possimus nisi! Iste
                                voluptatum
                                asperiores dicta alias excepturi.m Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id
                                recusandae, in quasi earum, quo aliquid soluta nulla assumenda expedita dolore quisquam quia
                                fugit
                                nam culpa nisi vitae! Molestiae, et labore!</p>
                        </div> -->
        </div>
    </section>
</main>

@section Scripts {
    <script src="@Url.Content("~/js/watch-list.js")" type="module"></script>
}