@section Styles {
    <link href="@Url.Content("~/css/search-page.css")" rel="stylesheet" />
}
<main id="main">
    <section id="search-results" class="pt-20 px-10">
        <h1 class="text-4xl font-semibold text-white mb-10">
            Search: <span class="search-text font-light text-md"></span>
        </h1>
    </section>
</main>

@section Scripts {
    <script src="@Url.Content("~/js/search-page.js")" type="module" ></script>
}