<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    @RenderSection("Styles", false)
</head>
<body>
    <header id="header">
        <div class="h-full flex justify-center items-center">
            <h1 class="text-3xl font-bold header-brand mx-auto">
                <a href="/">
                    TENTAC
                </a>
            </h1>
            <div class="search-container md:flex hidden items-center">
                <div class="search-icon bi bi-search"></div>
                <input type="text" placeholder="Search" id="">
            </div>
            <div class="profile-area rounded-full ml-auto mr-4">
                <div class="profile">
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                         class="profile-image object-cover object-center">
                </div>
                <div class="profile-dropdown flex flex-col gap-1 p-1">
                    <div class="search-container flex md:hidden flex">
                        <div class="search-icon bi bi-search"></div>
                        <input type="text" placeholder="Search" id="">
                    </div>
                    <a href="#" class="profile-dropdown-item py-2 pl-2 text-sm rounded-md">Settings</a>
                    <a href="/pages/watch-list/watch-list.html"
                       class="profile-dropdown-item py-2 pl-2 text-sm rounded-md">Watch List</a>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

