@section Styles {
    <link href="@Url.Content("~/css/movie-details.css")" rel="stylesheet" />
}

<main id="main" class="md:p-20 p-5">
    <section class="info flex md:flex-nowrap flex-wrap gap-5">
        <div class="image">
            <img src="" class="movie-poster object-cover object-center" alt="">
            <div class="favorite-container">
                <span class="bi bi-heart-fill favorite-icon"></span>
            </div>
        </div>
        <div class="text">
            <h1 class="movie-name text-white text-4xl font-semibold mb-5"></h1>
            <div class="properties flex md:gap-5 gap-2 mb-4">
                <div class="property-item d-flex flex-col">
                    <div class="property-key font-semibold text-md text-center">Place</div>
                    <div class="property-value text-center text-xs">US</div>
                </div>
                <div class="property-item d-flex flex-col">
                    <div class="property-key font-semibold text-md text-center">Time</div>
                    <div class="property-value text-center text-xs">45min</div>
                </div>
                <div class="property-item d-flex flex-col">
                    <div class="property-key font-semibold text-md text-center">Year</div>
                    <div class="property-value text-center text-xs">2011</div>
                </div>
                <div class="property-item d-flex flex-col">
                    <div class="property-key font-semibold text-md text-center">Language</div>
                    <div class="property-value text-center text-xs">English</div>
                </div>
            </div>
            <p class="movie-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsum eligendi
                atque nobis neque
                exercitationem nesciunt deserunt molestiae, totam error nisi, vero aliquid qui molestias, deleniti
                ullam debitis harum eaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque impedit ad
                aut blanditiis. Deleniti sunt aliquid eum fugit. Delectus reprehenderit veniam modi voluptas.
                Explicabo laboriosam labore dolores, rem eveniet inventore. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Labore unde officia nihil mollitia? Ipsa repellat suscipit magnam consectetur!
                Quos hic nam exercitationem rerum reiciendis nostrum quis. Minima magni nesciunt provident. lorem
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia magnam quisquam eius eaque,
                impedit sed modi praesentium quam rem nam earum maiores consequatur vel, eos pariatur aliquid magni.
                Obcaecati, tempora. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus sed veritatis
                optio beatae ratione voluptates praesentium repellendus. Nesciunt odit cum ipsam, adipisci vitae
                enim alias, dolores, unde sit amet in. lorem
            </p>
        </div>
    </section>
    <section class="video-area my-20">
        <div class="title text-4xl text-white font-semibold mb-5"></div>
        <iframe style="width:70%;" class="trailer-frame" src="" title="YouTube video player" frameborder="0"
                allowfullscreen></iframe>
    </section>
    <section class="comments mt-20">
        <h1 class="text-4xl font-bold text-white mb-5">Comments</h1>
        <div class="message-area flex py-3 gap-5">
            <div class="profile">
                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                     class="object-cover object-center">
            </div>
            <textarea class="message-input" cols="30" rows="10" placeholder="Message"></textarea>
        </div>
        <div class="comments-area pt-20">
            <div class="comment-item flex">
                <div class="profile">
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                         class="object-cover object-center">
                </div>
                <div class="comment-container">
                    <p class="text-sm">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam veritatis
                        aut nesciunt
                        repellendus omnis. Inventore quam veniam, sequi tenetur eveniet, commodi harum expedita in
                        magni numquam, eum cumque perferendis iusto.
                    </p>
                    <div class="actions-container">
                        <span class="dislike hand-icon bi bi-hand-thumbs-down-fill"></span>
                        <span class="like-count">21</span>
                        <span class="like hand-icon bi bi-hand-thumbs-up-fill"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="@Url.Content("~/js/movie-details.js")" type="module"></script>
}